.mainNav {
  background-color: #EEE8AA !important;
}

.mainNav a {
  color: olive !important;
}

.navbar-toggler {
  background-color: #FFDAB9;
}

.adikra2 {
  margin-left: -10px;
  margin-right: 5px;
}
